.header-container {
    position: sticky;
    right: 0px;
    left: 0px;
    top: 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 12px 24px 0px;
    display: flex;
    padding: 1rem 3em;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
}

.brand-container {
    display: flex;
    -moz-box-pack: justify;
    justify-content: right;
    -moz-box-align: center;
    align-items: center;
}

.brandname {
    margin: 0 0.5rem;
    font-size: 2rem;
    color: #dc2939;
    font-weight: bold
}

.menu {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
}

.menu > a {
    padding-bottom: 10px;
    padding: 0 0.7rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

.menu > a:hover {
    color: #dc2939;
    font-size: 1.3rem;
}

.isActiveRoute{
    border-bottom: 1px solid;
    color: #dc2939 !important;
}