.footer-container {
    position: relative;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background:rgb(246 242 243);
    display: flex;
    padding: 2rem 3em;
    margin-top: 1.5rem;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
}
.footer-box {
    max-width: 40%;
}

.footer-box h4 {
    margin-top: 0;
}

.brand-container {
    display: flex;
    -moz-box-pack: justify;
    -moz-box-align: center;
    align-items: center;
    justify-content: left;
}

.brandname {
    margin: 0 0.5rem;
    font-size: 1rem;
    color: black;
    font-weight: bold
}